/* 
 * AUTHORS:
 * 
 * Chel Hee Lee <gnustats@gmail.com>
 * Prof. Friedrich Leisch 
 * 
 * CREATED ON 2013-FEB-18
 * MODIFIEID ON 2013-FEB-18
 * 
 * DESCRIPTION:
 * THIS CSS STYLE LAYOUTS AN OVERALL STRUCTURE OF WEBSITE.
 * 
 * */


/* Layout */
#setpage{
	width: 1000px;
	margin:0 auto;
} 

/* HEADER PART: 
 * SHOWS MAJOR CATEGORIES EVERY PAGE */
 
header {
	height: 90px;
/*	background-color: #EAEAEA; */
}
 
/* BODY PART: 
 * CONSISTS OF TWO PARTS: 1) LEFT-NAVIGATION, 2) MAJOR CONTENTS  */

article {
	overflow: auto;
	float: left;
	width: 80%;
}

aside {
	width: 200px;
	overflow: auto;
	float: left;
	padding: 0px 5;
/*	background-color: #eee; */
/*	background: #C8FC98; */
}



/* FOOTER PART: 
 * SHOWS COPYRIGHT INFORMATION EVERY PAGE */

footer {
	height: 50px;
	clear: left;
	width: 100%;
	background: black;
	color: #FFF;
	text-align: center;
	padding: 4px 0;
}


/* OTHER MINIMAL CHANGES */ 
