<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en   ">
<head>
	<title> R 한국어 지원 - Korean Language Support - iHELP Project R Tutorial - R 한국어 한글 메시지 매뉴얼 튜토리얼 </title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="mystyle.css">

</head>
<body>

<div id="setpage">
<header>
	<table>
		<tr>
			<td valign="bottom"> <a href="index.html"> <img src="logo.png"> </a> </td>
			<td valign="bottom"> <a href="lang.html"> [ Language Support ] </a></td>
			<td valign="bottom"> <a href="shared.html"> [ We Share ] </a></td>
			<td valign="bottom"> <a href="contributedDocs.html"> [ Contributed Docs ] </a></td>
			<td valign="bottom"> <a href="members.html"> [ Members &amp; Donors] </a></td>
<!--			<td valign="bottom"> <a href="pool.html"> [ Export DB ] </a></td> -->
		</tr>
	</table>
</header>

<aside>
<table>
	<th> 바로가기  </th>
	<tr> <td> <a href="lang_doc.html"> 한국어 R 매뉴얼 </a> </td> </tr>
	<tr> <td> <a href="mailing_guide.html"> 메일링 사용가이드 </a> </td> </tr>
</table>
</aside>

<article>
<p> 
	Modified on 2013-APR-10 <br> by Chel Hee Lee 
</p>
	

<h1> 데이터 관리 팁들 </h1>
<p> 본 페이지에서는 데이터를 다루는 팁을 정리하고 있습니다.  <strong> 이 페이지를 읽고 있는 독자는 여기에 적힌 팁은 데이터를 다루는 많은 방법들 중 한 가지라는 것을 아셔야 합니다. 본 페이지의 작성자 역시 많은 분들의 현명한 데이터 관리법에 항상 놀라며, 그들의 테크닉을 따라 배우고 있습니다.  따라서, 여기에 있는 팁이 반드시 정석은 아니며, 단순히 이를 처리하는 하나의 방법임을 꼭 알아주시길 부탁드립니다.  </strong>  이 페이지에 다양한 방법의 데이터 관리 팁을 함께 알려주시고자 하시는 분들께서는 <a href="ihelp-urquestion@lists.r-forge.r-project.org"> ihelp-urquestion 메일링 리스트 </a>에 그 내용을 보내주시길 부탁드립니다 </p>

<ul>
<li> 여러개의 엑셀시트로 구성되어 있는 엑셀파일을 불러와 하나의 데이터셋으로 합치기 (updated on 2013-APR-10)</li>

<li> </li>

</ul>
</article>
<footer>
@ 2008-2013 ihelp.r-forge.r-project.org. Copyright of individual papers resides with the authors
</footer>

</div>

</body>
</html>
